<div style="text-align: center; padding: 20px;">
    <img src="austin-distel-744oGeqpxPQ-unsplash.jpeg" alt="​​Subscription Renewal Insights for a SaaS Company" width="450"/>
</div>


<!-- Image source - https://unsplash.com/photos/person-using-macbook-pro-744oGeqpxPQ
-->

    
A SaaS company seeks to uncover what drives its clients to renew subscriptions. They’ve collected data on client details, subscription records, and economic indicators and would like to connect them to better understand its clients’ behavior. 

They’ve tasked you with analyzing these datasets to identify the key factors influencing clients’ decisions to renew their subscriptions. 

Your analysis will provide them with insights into which customers are renewing their products and the reasons behind their renewals. The company can leverage these insights to make informed decisions to increase renewal rates and improve customer loyalty, helping them stay competitive and ensure long-term growth.


## The Data

The company have provided you with three datasets for your analysis. A summary of each data is provided below.

## `client_details.csv`

| Column         | Description|
|----------------|---------------------------------------------------------------|
| `client_id`    | Unique identifier for each client. |
| `company_size` | Size of the company (Small, Medium, Large).|
| `industry`     | Industry to which the client belongs (Fintech, Gaming, Crypto, AI, E-commerce).|
| `location`     | Location of the client (New York, New Jersey, Pennsylvania, Massachusetts, Connecticut).|

## `subscription_records.csv`

| Column             | Description   |
|--------------------|---------------|
| `client_id`        | Unique identifier for each client.|
| `subscription_type`| Type of subscription (Yearly, Monthly).|
| `start_date`       | Start date of the subscription - YYYY-MM-DD.|
| `end_date`         | End date of the subscription - YYYY-MM-DD.|
| `renewed`          | Indicates whether the subscription was renewed (True, False).|

## `economic_indicators.csv`

| Column           | Description                                       |
|------------------|---------------------------------------------------|
| `start_date`     | Start date of the economic indicator (Quarterly) - YYYY-MM-DD.|
| `end_date`       | End date of the economic indicator (Quarterly) - YYYY-MM-DD.|
| `inflation_rate` | Inflation rate in the period.|
| `gdp_growth_rate`| Gross Domestic Product (GDP) growth rate in the period.|

In [1]:
# Re-run this cell
# Import required libraries
import pandas as pd

# Import data
client_details = pd.read_csv('data/client_details.csv')
subscription_records = pd.read_csv('data/subscription_records.csv', parse_dates = ['start_date','end_date'])
economic_indicators = pd.read_csv('data/economic_indicators.csv', parse_dates = ['start_date','end_date'])

In [4]:
# Start coding here, good luck!
print(client_details.isna().sum())
print(subscription_records.isna().sum())
print(economic_indicators.isna().sum())
# no null values in the datasets

client_id       0
company_size    0
industry        0
location        0
dtype: int64
client_id            0
subscription_type    0
start_date           0
end_date             0
renewed              0
dtype: int64
Unnamed: 0         0
start_date         0
end_date           0
inflation_rate     0
gdp_growth_rate    0
dtype: int64

## How many total fintech and crypto clients does the company have?

In [6]:
total_fintech_crypto_clients = len(client_details[(client_details['industry'] == 'Fintech') | (client_details['industry'] == 'Crypto')])
print(f"There are a total of {total_fintech_crypto_clients} Fintech and Crypto clients the company have.")

47

## Which industry has the highest renewal rate

In [12]:
sub_rec_client_det = client_details.merge(subscription_records, on ='client_id', how = 'inner') # merged using inner 
sub_rec_client_det

,client_id,company_size,industry,location,subscription_type,start_date,end_date,renewed
0,4280387012,Large,Fintech,New York,Yearly,2022-11-25,2023-11-25,True
1,2095513148,Small,Fintech,New Jersey,Monthly,2021-11-03,2021-12-03,False
2,7225516707,Medium,Fintech,Pennsylvania,Yearly,2021-01-19,2022-01-19,True
3,8093537819,Large,Crypto,New York,Monthly,2019-09-14,2019-10-14,False
4,4387541014,Medium,E-commerce,Massachusetts,Monthly,2018-11-08,2018-12-08,False
...,...,...,...,...,...,...,...,...
95,9159056053,Medium,Gaming,Pennsylvania,Yearly,2022-05-28,2023-05-28,False
96,1077708772,Small,Crypto,New York,Yearly,2019-07-06,2020-07-05,False
97,4361672518,Small,AI,Pennsylvania,Monthly,2019-01-24,2019-02-23,False
98,6751372012,Large,E-commerce,New York,Monthly,2018-05-29,2018-06-28,True
99,6209923307,Medium,Gaming,New Jersey,Monthly,2021-07-05,2021-08-04,True

In [51]:
def highest_renew_rate(df):
    count_per_ind = df.groupby('industry').agg({'renewed':'mean'}) # returns index of industry and aggregated renew column with count
    count_per_ind.reset_index(inplace = True) # make the industry a column instead
    top_industry = count_per_ind[count_per_ind['renewed'] == max(count_per_ind['renewed'])]['industry']
    return top_industry.iloc[0]

top_industry = highest_renew_rate(sub_rec_client_det)
top_industry

             renewed
industry
AI          0.636364
Crypto      0.440000
E-commerce  0.450000
Fintech     0.545455
Gaming      0.727273

'Gaming'

In [46]:
economic_indicators.drop('Unnamed: 0', axis = 1, inplace=True)
economic_indicators

   start_date   end_date  inflation_rate  gdp_growth_rate
0  2018-01-01 2018-03-31            5.77             3.51
1  2018-04-01 2018-06-30            1.17             2.15
2  2018-07-01 2018-09-30            1.56             1.82
3  2018-10-01 2018-12-31            2.78             2.43
4  2019-01-01 2019-03-31            6.91             3.44
5  2019-04-01 2019-06-30            3.84             3.48
6  2019-07-01 2019-09-30            7.71             1.35
7  2019-10-01 2019-12-31            2.71             1.79
8  2020-01-01 2020-03-31            4.40             1.36
9  2020-04-01 2020-06-30            4.69             1.23
10 2020-07-01 2020-09-30            1.43             2.40
11 2020-10-01 2020-12-31            3.10             2.70
12 2021-01-01 2021-03-31            2.57             1.18
13 2021-04-01 2021-06-30            0.76             3.63
14 2021-07-01 2021-09-30            7.19             1.04
15 2021-10-01 2021-12-31            7.32             1.73
16 2022-01-01 2022-03-31            6.76             2.72
17 2022-04-01 2022-06-30            6.80             3.49
18 2022-07-01 2022-09-30            5.60             3.31
19 2022-10-01 2022-12-31            4.40             1.05
20 2023-01-01 2023-01-03            5.49             3.44

In [55]:
sub_rec_econ = pd.merge_asof(subscription_records.sort_values(by = 'end_date'),
                                        economic_indicators, 
                                             left_on='end_date', 
                                             right_on='start_date', 
                                             direction='backward')
sub_rec_econ

,client_id,subscription_type,start_date_x,end_date_x,renewed,start_date_y,end_date_y,inflation_rate,gdp_growth_rate
0,4519356806,Monthly,2018-03-04,2018-04-03,True,2018-04-01,2018-06-30,1.17,2.15
1,3683504527,Monthly,2018-04-12,2018-05-12,True,2018-04-01,2018-06-30,1.17,2.15
2,7462725203,Monthly,2018-05-21,2018-06-20,True,2018-04-01,2018-06-30,1.17,2.15
3,3878940490,Monthly,2018-05-23,2018-06-22,False,2018-04-01,2018-06-30,1.17,2.15
4,6751372012,Monthly,2018-05-29,2018-06-28,True,2018-04-01,2018-06-30,1.17,2.15
...,...,...,...,...,...,...,...,...,...
95,7925430606,Yearly,2022-08-29,2023-08-29,False,2023-01-01,2023-01-03,5.49,3.44
96,8884551090,Yearly,2022-09-02,2023-09-02,True,2023-01-01,2023-01-03,5.49,3.44
97,7744303708,Yearly,2022-10-11,2023-10-11,True,2023-01-01,2023-01-03,5.49,3.44
98,4280387012,Yearly,2022-11-25,2023-11-25,True,2023-01-01,2023-01-03,5.49,3.44
99,3411013676,Yearly,2022-12-20,2023-12-20,False,2023-01-01,2023-01-03,5.49,3.44

In [59]:
renewed = sub_rec_econ[sub_rec_econ['renewed'] == True]
average_inflation_for_renewals = renewed['inflation_rate'].mean()
average_inflation_for_renewals

4.418909090909092